*{
    background-repeat: no-repeat;
    background-size: cover;
}
img
{
    width:90px;
    height: 90px;
    border-radius: 50px;
    position: relative;
}
form{
  margin-top: 80px;
  text-align: justify;
  width:25%;
  height:450px;
  position: relative;
  margin-left: 450px;
  border-radius:12px ;
  background-color: rgba(0, 0, 0, 0.185);
}
fieldset
{
  border-radius: 10px;
margin:30px;
  position: relative;
height:370px;
padding-bottom: 30px;
padding-top: 30px;;
}
body{
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("network-connection-background-abstract-style_23-2148875738.avif");
}
h1
{
  text-align: center;
  color: white;
  margin-bottom: 23px;
margin-top: 2px;
}
h1::first-letter
{
font-size: 60px;
}
h1 span{
font-size: 60px;
}
.uname input[type="text"]
{
  width: 80%;
  margin-left: 20px;
 margin-bottom: 25px;
 padding: 8px;
 border-style: none;
 background-color: rgba(255, 255, 255, 0.515);
 border-radius: 20px;
}
.pass input[type="password"]
{
 width: 80%;
 margin-left: 20px;
 margin-bottom: 20px;
 padding: 8px;
 border-style: none;
background-color: rgba(255, 255, 255, 0.515);
border-radius: 20px;
}
.btn input{
    background-color: rgba(115, 20, 166, 0.515);
    width:70px;
    height:30px;
    border-radius: 20px;
    text-align: center;
    color:white;
    text-align: center;
    margin-left:92px;
}
label{
    text-align: start;
    display: block;
    margin-left: 28px;
    color: white;
}
.lnk
{
  margin-right: -90px;
  display:block;
  margin-left: 20px;
}
.lnk span{
 display: block;
}
.lnk:hover
{
color: #5a046e;
}